
body{
    padding-top: 70px;
}

.navbar{
    background-color: blue;
}

.colorWhite{
    color: white;
}

.s90-width{
    width: 90%;
}

a:hover {
    text-decoration: none;
}

.Padding-left{
    padding-left: 30px;
}

.display-inline{
    display: inline;
}

.navbar-height{
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-merge{
    margin-top: 10px;
}
.color-Black{
    color:black;
}

.input-merge{
    margin-top: 15px;
}

.absolute-right{
    position: absolute;
    right: 15px;
}

.footer-margin{
    margin:  20px;
}
.icona{
    z-index: 2;
}
.mar{
    margin-bottom: 60px;
}