<!--Navbar-->
<nav class="navbar navbar-light fixed-top" style="background-color: #e3f2fd;">
  <a class="color-Black" href="Page-List.html"><i class="fas fa-chevron-left"></i></a>
  <div class="s90-width">
  <a class="navbar-brand float-left" href="Page-New.html"><b>Edit Page</b></a>
  </div>
  <a class="float-right color-Black " href="Page-List.html"><i class="fas fa-check"></i></a>
</nav>

<!--Form-->
<div class="container-fluid">

<form>

<label class="input-merge" for="name"><b>Name</b></label>
<input id="name" type="text" class="form-control" placeholder="Blog Post">

<label class="input-merge" for="title"><b>Title</b></label>
<input id="title" type="text" class="form-control" placeholder="Page Title">
<a  href="Page-List.html"  class=" btn btn-danger btn-block btn-merge">Delete</a>

</form>

</div>

<!----Footer-->

<nav class="navbar navbar-light fixed-bottom" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#"></a>
  <a href="../Users/Profil.html"><i class="fas fa-user"></i></a>
</nav>
